<!-- This is an example component -->
<!--Nav-->
<header>
    <nav class="bg-white border-b-2 border-purple-900 p-2 mt-0  fixed w-full z-10 top-0">
        <div class="container mx-auto flex flex-wrap items-center">
            <div class="flex w-full md:w-1/2 justify-center md:justify-start text-purple-900 font-extrabold">
                <a class="text-purple-900 no-underline hover:text-purple-900 hover:no-underline" href="/">
                    <span class="text-2xl pl-2"><i class="em em-grinning"></i>ZGMarket</span>
                </a>
            </div>
            <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
                <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                    <li class="mr-3">
                        <a class="inline-block py-2 px-4 text-purple-900 no-underline" href="/">Home</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block text-purple-900 no-underline hover:text-purple-900 hover:text-underline py-2 px-4"
                            href="/shop">Shop</a>
                    </li>
                    {{#if user}}
                      <li class="mr-3">
                        <a class="inline-block text-purple-900 no-underline hover:text-purple-900 hover:text-underline py-2 px-4"
                            href="/dashboard">Dashboard</a>
                    </li>
                     <li class="mr-3">
                        <a class="inline-block text-purple-900 no-underline hover:text-purple-900 hover:text-underline py-2 px-4"
                            href="/account/logout">Log out</a>
                    </li>
                    {{else}}
                    <li class="mr-3">
                        <a class="inline-block text-purple-900 no-underline hover:text-purple-900 hover:text-underline py-2 px-4"
                            href="/account/login">Log in</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block text-purple-900 no-underline hover:text-purple-900 hover:text-underline py-2 px-4"
                            href="/account/sign-up">Sign Up</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    <nav class="bg-white border-b-2 border-purple-900 p-2 mt-0  sticky w-full  top-0">
        <div class="container mx-auto flex flex-wrap items-center">
            <div class="flex w-full md:w-1/2 justify-center md:justify-start text-purple-900 font-extrabold">
                <a class="text-purple-900 no-underline hover:text-purple-900 hover:no-underline" href="#">
                    <span class="text-2xl pl-2"><i class="em em-grinning"></i>ZGMarket</span>
                </a>
            </div>
            <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
                <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                    <li class="mr-3">
                        <a class="inline-block py-2 px-4 text-purple-900 no-underline" href="/">Home</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block text-purple-900 no-underline hover:text-purple-900 hover:text-underline py-2 px-4"
                            href="/shop">Shop</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block text-purple-900 no-underline hover:text-purple-900 hover:text-underline py-2 px-4"
                            href="/account/login">Log in</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block text-purple-900 no-underline hover:text-purple-900 hover:text-underline py-2 px-4"
                            href="/account/sign-up">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>