  
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  
    <script
		src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.9.8/dist/alpine.js"
		defer
	></script>
    <link href="image/favicon.png" type="image/ico" rel="icon">
     <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/product.css">
</head>

<body  class="bg-white font-sans leading-normal tracking-normal" style="font-family: 'Zilla Slab', serif;">

 
{{> header}}
	


	<!--Container-->
	<div class="container shadow-lg mx-auto bg-white ">
		{{{body}}}
	
		
	</div>
{{> footer}}

</body>
</html>
 
    

   
 
  
</body>
</html>