  
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <link href="image/favicon.png" type="image/ico" rel="icon">
     <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body  class=" w-full h-screen bg-purple-900 text-purple-200 work-sans leading-normal text-base tracking-normal" style="font-family: 'Zilla Slab', serif;">

 
   
   
        {{{body}}}
 
    

   
 
  
</body>
</html>